{% extends "layout.html" %}

{% block title %}インスタンス一覧: {{ region }}{% endblock %}

{% block content %}
<div class=grids>
<div class=grid-12>
  <h2>インスタンス一覧 {{ region }}</h2>
  <table>
    <tr>
      <th>インスタンス ID</th>
      <th>データベース名</th>
      <th>データベースエンジン</th>
      <th>インスタンスタイプ</th>
    </tr>
    {% for i in instance_list %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.db }}</td>
      <td>{{ i.engine }}</td>
      <td>{{ i.type }}</td>
    </tr>
    {% endfor %}
    </table>
</div>
</div>
{% endblock %}
