{% extends "layout.html" %}

{% if region %}
  {% block title %}{{ region }}{% endblock %}
{% endif %}

{% block content %}
<div class=grid-12>
  <h2>{{ region }}</h2>
  {{ il }}
  {% for instance in il %}
    <p>{{ instance['name'] }}</p>
  {% endfor%}
      <table>
        <caption>インスタンス</caption>
        <tr>
          <th>インスタンス ID</th>
          <th>パブリック DNS 名</th>
          <th>キー</th>
          <th>タグ</th>
          <th>ステータス</th>
        </tr>
        <tr>
          <td>行</td>
          <td>行</td>
          <td>行</td>
          <td>行</td>
          <td>行</td>
        </tr>
        <tr>
          <td>行</td>
          <td>行</td>
          <td>行</td>
          <td>行</td>
          <td>行</td>
        </tr>
        <tr>
          <td>行</td>
          <td>行</td>
          <td>行</td>
          <td>行</td>
          <td>行</td>
        </tr>
      </table>
</div>
  {% endblock %}
