{% extends "layout.html" %}

{% block title %}{{ gd['name'] }}{% endblock %}

{% block content %}
<div class=grid-12>
    <h3>グループ : {{ gd['id'] }}</h3>
    <dl>
      <dt>グループ名<dt>
      <dd>{{ gd['name'] }}</dd>
      <dt>リソース名</dt>
      <dd>{{ gd['arn']}}</dd>
      <dt>作成日時</dt>
      <dd>{{ gd['created'] }}</dd>
    </dl>
    <table>
      <caption>所属ユーザ</caption>
      <tr>
        <th>ユーザ ID</th>
        <th>ユーザ名</th>
        <th>リソース名</th>
        <th>作成日時</th>
      </tr>
      {% for user in users %}
      <tr>
        <td><a href=/iam/user/{{ user.name }}>{{ user.id }}</a></td>
        <td>{{ user.name }}</td>
        <td>{{ user.arn }}</td>
        <td>{{ user.created }}</td>
      </tr>
      {% endfor %}
      </table>
</div>
{% endblock %}
