{% extends "layout.html" %}

{% block title %}グループ一覧{% endblock %}

{% block content %}
<div class=grid-12>
  <h2>グループ一覧</h2>
      <table>
        <tr>
          <th>グループ ID</th>
          <th>グループ名</th>
          <th>リソース名</th>
          <th>作成日</th>
        </tr>
        {% for group in gl %}
        <tr>
          <td><a href=/iam/group/{{ group.name }}>{{ group.id }}</a></td>
          <td>{{ group.name }}</td>
          <td>{{ group.arn }}</td>
          <td>{{ group.created }}</td>
        </tr>
        {% endfor %}
      </table>
</div>
{% endblock %}
